# Pandas

In [1]:
import pandas as pd
import numpy as np

# Pandas Series

Series es un objeto unidimensional (1D) similar a la columna de una tabla. Si queremos crear un Series para un listado de nombres, podemos hacer lo siguiente:

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [3]:
pd.Series(data=my_list)

0    10
1    20
2    30
dtype: int64

In [6]:
pd.Series(data=my_list, index=labels)

a    10
b    20
c    30
dtype: int64

In [7]:
pd.Series(data=arr)

0    10
1    20
2    30
dtype: int64

In [8]:
pd.Series(data=d)

a    10
b    20
c    30
dtype: int64

# Pandas DataFrame

El DataFrame es una estructura de datos tabular que se compone de columnas y filas ordenadas

In [9]:
import numpy as np
from numpy.random import randn

In [14]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [15]:
df

          W         X         Y         Z
A -1.503246  1.176762 -1.084445  0.864667
B -0.497890 -0.014817  0.938684 -0.368432
C -0.715656 -0.968282  0.874149  0.429601
D -0.351974 -0.226982  0.141654  0.679950
E  1.000286  0.428019  1.937741 -0.160837

In [12]:
df = pd.DataFrame(randn(5,4),columns='W X Y Z'.split())

In [13]:
df

          W         X         Y         Z
0 -0.655897  0.731139  0.558452 -0.362510
1  1.874075 -0.105597 -1.468927  0.060710
2 -0.114938 -0.541568  0.037537 -1.306764
3  2.107914  0.020667 -0.145396  0.181312
4  2.248962 -0.446379  1.196502  1.430147

In [16]:
df['W']

A   -1.503246
B   -0.497890
C   -0.715656
D   -0.351974
E    1.000286
Name: W, dtype: float64

In [17]:
df[['W']]

          W
A -1.503246
B -0.497890
C -0.715656
D -0.351974
E  1.000286

In [18]:
df[['W', 'Y']]

          W         Y
A -1.503246 -1.084445
B -0.497890  0.938684
C -0.715656  0.874149
D -0.351974  0.141654
E  1.000286  1.937741

In [19]:
df

          W         X         Y         Z
A -1.503246  1.176762 -1.084445  0.864667
B -0.497890 -0.014817  0.938684 -0.368432
C -0.715656 -0.968282  0.874149  0.429601
D -0.351974 -0.226982  0.141654  0.679950
E  1.000286  0.428019  1.937741 -0.160837

In [20]:
df['new'] = df['W'] + df['Y']

In [21]:
df

          W         X         Y         Z       new
A -1.503246  1.176762 -1.084445  0.864667 -2.587691
B -0.497890 -0.014817  0.938684 -0.368432  0.440794
C -0.715656 -0.968282  0.874149  0.429601  0.158493
D -0.351974 -0.226982  0.141654  0.679950 -0.210320
E  1.000286  0.428019  1.937741 -0.160837  2.938027

## Drop

In [22]:
df.drop('new', axis=1)

          W         X         Y         Z
A -1.503246  1.176762 -1.084445  0.864667
B -0.497890 -0.014817  0.938684 -0.368432
C -0.715656 -0.968282  0.874149  0.429601
D -0.351974 -0.226982  0.141654  0.679950
E  1.000286  0.428019  1.937741 -0.160837

In [23]:
df

          W         X         Y         Z       new
A -1.503246  1.176762 -1.084445  0.864667 -2.587691
B -0.497890 -0.014817  0.938684 -0.368432  0.440794
C -0.715656 -0.968282  0.874149  0.429601  0.158493
D -0.351974 -0.226982  0.141654  0.679950 -0.210320
E  1.000286  0.428019  1.937741 -0.160837  2.938027

In [24]:
df1 = df.drop('new', axis=1)
# axis = 0     filas
# axis = 1     columnas
df1

          W         X         Y         Z
A -1.503246  1.176762 -1.084445  0.864667
B -0.497890 -0.014817  0.938684 -0.368432
C -0.715656 -0.968282  0.874149  0.429601
D -0.351974 -0.226982  0.141654  0.679950
E  1.000286  0.428019  1.937741 -0.160837

In [25]:
df.drop('new', axis=1, inplace=True)

In [26]:
df

          W         X         Y         Z
A -1.503246  1.176762 -1.084445  0.864667
B -0.497890 -0.014817  0.938684 -0.368432
C -0.715656 -0.968282  0.874149  0.429601
D -0.351974 -0.226982  0.141654  0.679950
E  1.000286  0.428019  1.937741 -0.160837

In [27]:
df.loc['B']

W   -0.497890
X   -0.014817
Y    0.938684
Z   -0.368432
Name: B, dtype: float64

In [28]:
df.iloc[1]

W   -0.497890
X   -0.014817
Y    0.938684
Z   -0.368432
Name: B, dtype: float64

In [29]:
df

          W         X         Y         Z
A -1.503246  1.176762 -1.084445  0.864667
B -0.497890 -0.014817  0.938684 -0.368432
C -0.715656 -0.968282  0.874149  0.429601
D -0.351974 -0.226982  0.141654  0.679950
E  1.000286  0.428019  1.937741 -0.160837

In [30]:
df>0

       W      X      Y      Z
A  False   True  False   True
B  False  False   True  False
C  False  False   True   True
D  False  False   True   True
E   True   True   True  False

In [31]:
df[df>0]

          W         X         Y         Z
A       NaN  1.176762       NaN  0.864667
B       NaN       NaN  0.938684       NaN
C       NaN       NaN  0.874149  0.429601
D       NaN       NaN  0.141654  0.679950
E  1.000286  0.428019  1.937741       NaN

In [32]:
df2 = df[df>0]
df2

          W         X         Y         Z
A       NaN  1.176762       NaN  0.864667
B       NaN       NaN  0.938684       NaN
C       NaN       NaN  0.874149  0.429601
D       NaN       NaN  0.141654  0.679950
E  1.000286  0.428019  1.937741       NaN

In [33]:
df[df['W']>0]

          W         X         Y         Z
E  1.000286  0.428019  1.937741 -0.160837

In [34]:
df[df['W']>0]['Y']

E    1.937741
Name: Y, dtype: float64

In [37]:
df[ (df['Z']>0) & (df['Z']<1) ] [['W','Y']]

          W         Y
A -1.503246 -1.084445
C -0.715656  0.874149
D -0.351974  0.141654

# Missing data

In [45]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [49]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [40]:
df.dropna()

     A    B  C
0  1.0  5.0  1

In [41]:
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [43]:
df.dropna(axis=1, inplace=True)

In [44]:
df

   C
0  1
1  2
2  3

In [51]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [52]:
df.fillna(value='val')

     A    B  C
0  1.0  5.0  1
1  2.0  val  2
2  val  val  3

In [56]:
df['A'].fillna(value=df['A'].mean(), inplace=True)

In [57]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  1.5  NaN  3

# Groupby

In [58]:
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [59]:
df = pd.DataFrame(data)

In [60]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

In [61]:
df.groupby('Company')

In [62]:
gb = df.groupby('Company')

In [63]:
gb.mean()

         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

In [64]:
gb.std()

              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

In [65]:
gb.max()

          Person  Sales
Company
FB         Sarah    350
GOOG         Sam    200
MSFT     Vanessa    340

In [66]:
gb.count()

         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Company  6 non-null      object
 1   Person   6 non-null      object
 2   Sales    6 non-null      int64
dtypes: int64(1), object(2)
memory usage: 272.0+ bytes

In [69]:
df.describe()

            Sales
count    6.000000
mean   229.500000
std    100.899455
min    120.000000
25%    143.000000
50%    221.500000
75%    315.750000
max    350.000000

In [70]:
gb.describe()

        Sales
        count   mean         std    min     25%    50%     75%    max
Company
FB        2.0  296.5   75.660426  243.0  269.75  296.5  323.25  350.0
GOOG      2.0  160.0   56.568542  120.0  140.00  160.0  180.00  200.0
MSFT      2.0  232.0  152.735065  124.0  178.00  232.0  286.00  340.0

In [71]:
gb.describe().transpose()

Company              FB        GOOG        MSFT
Sales count    2.000000    2.000000    2.000000
      mean   296.500000  160.000000  232.000000
      std     75.660426   56.568542  152.735065
      min    243.000000  120.000000  124.000000
      25%    269.750000  140.000000  178.000000
      50%    296.500000  160.000000  232.000000
      75%    323.250000  180.000000  286.000000
      max    350.000000  200.000000  340.000000

In [72]:
gb.describe().transpose()[['FB']]

Company              FB
Sales count    2.000000
      mean   296.500000
      std     75.660426
      min    243.000000
      25%    269.750000
      50%    296.500000
      75%    323.250000
      max    350.000000

# Concatenating

In [73]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

df1

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [74]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7]) 

df2

    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

In [75]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

df3

      A    B    C    D
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [77]:
pd.concat([df1,df3,df2])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7

In [78]:
pd.concat([df1,df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [80]:
dfc = pd.concat([df2,df3,df1])
dfc

      A    B    C    D
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3

In [83]:
dfc.reset_index(drop=True, inplace=True)

In [84]:
dfc

      A    B    C    D
0    A4   B4   C4   D4
1    A5   B5   C5   D5
2    A6   B6   C6   D6
3    A7   B7   C7   D7
4    A8   B8   C8   D8
5    A9   B9   C9   D9
6   A10  B10  C10  D10
7   A11  B11  C11  D11
8    A0   B0   C0   D0
9    A1   B1   C1   D1
10   A2   B2   C2   D2
11   A3   B3   C3   D3

In [85]:
pd.concat([df1,df2,df3], axis=1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

# Operaciones

In [86]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})

In [87]:
df

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

In [89]:
df.head(2)

   col1  col2 col3
0     1   444  abc
1     2   555  def

In [90]:
df.tail(2)

   col1  col2 col3
2     3   666  ghi
3     4   444  xyz

In [91]:
df['col2'].unique()

array([444, 555, 666])

In [93]:
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

In [94]:
df.sort_values(by='col2')

   col1  col2 col3
0     1   444  abc
3     4   444  xyz
1     2   555  def
2     3   666  ghi

In [95]:
df.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False  False  False
3  False  False  False

In [96]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)

In [97]:
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [98]:
df.pivot_table(values='D', index=['A','B'], columns=['C'])

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN

# Data input and output

In [99]:
df = pd.read_csv('example')

In [100]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [101]:
df.to_csv('example_salida.csv')